body {
    margin: 10%;
}

#accordion {
    margin-bottom: 30%;
}

#made-footer {
    margin-bottom: 20%;
    display: none;
}

@keyframes arrowNoteFadeOut {
    0%   { opacity: 0; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}
@-o-keyframes arrowNoteFadeOut {
    0%   { opacity: 0; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}
@-moz-keyframes arrowNoteFadeOut {
    0%   { opacity: 0; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}
@-webkit-keyframes arrowNoteFadeOut {
    0%   { opacity: 0; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}

#made-footer-showed {
    margin-bottom: 20%;
    display: block;

    -webkit-animation: arrowNoteFadeOut 2s;
    -moz-animation: arrowNoteFadeOut 2s;
    -o-animation: arrowNoteFadeOut 2s;
    animation: arrowNoteFadeOut 2s;
}

@media(min-aspect-ratio: 1.5/1) {
    #accordion {
        margin-bottom: 10%;
    }

    #made-footer {
        margin-bottom: 0%;
        display: none;
    }

    #made-footer-showed {
        margin-bottom: 0%;
        display: block;
    }
}
